# [db_AgenciaCarros]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [db_AgenciaCarros]    Script Date: 8/03/2025 01:42:47 ******/
CREATE DATABASE [db_AgenciaCarros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_AgenciaCarros', FILENAME = N'C:\SQLdata\db_AgenciaCarros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_AgenciaCarros_log', FILENAME = N'C:\SQLdata\db_AgenciaCarros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [db_AgenciaCarros] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_AgenciaCarros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [db_AgenciaCarros] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET ARITHABORT OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET AUTO_CLOSE ON 
GO
ALTER DATABASE [db_AgenciaCarros] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [db_AgenciaCarros] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [db_AgenciaCarros] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET  ENABLE_BROKER 
GO
ALTER DATABASE [db_AgenciaCarros] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [db_AgenciaCarros] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [db_AgenciaCarros] SET  MULTI_USER 
GO
ALTER DATABASE [db_AgenciaCarros] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [db_AgenciaCarros] SET DB_CHAINING OFF 
GO
ALTER DATABASE [db_AgenciaCarros] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [db_AgenciaCarros] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [db_AgenciaCarros] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [db_AgenciaCarros] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [db_AgenciaCarros] SET QUERY_STORE = ON
GO
ALTER DATABASE [db_AgenciaCarros] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[tblClientes]

In [0]:
USE [db_AgenciaCarros]
GO

In [0]:
/****** Object:  Table [dbo].[tblClientes]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tblVentas]

In [0]:
/****** Object:  Table [dbo].[tblVentas]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVentas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Vw_AVehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_AVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_AVehiculos]
	as
	(SELECT c.Nombre,c.Apellido,v.Monto as PRECIO_VEHICULOfrom tblClientes cinner join tblVentas v 	on  c.ClienteID = v.ClienteIDwhere Monto > 20000);
GO

# [dbo].[Vw_BVehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_BVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_BVehiculos]
	as
	(
SELECT 
    ClienteID, 
    nombre, 
    apellido, 
		(SELECT SUM(Monto) 
		FROM tblVentas v 
		WHERE c.ClienteID = v.ClienteID) AS MONTO_GASTADO
FROM tblClientes c
);
GO

# [dbo].[tblVehiculos]

In [0]:
/****** Object:  Table [dbo].[tblVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Vw_CVehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_CVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_CVehiculos]
	as
	(
--OPC 1SELECT  C.Nombre, VH.Marca, v.MontoFROM tblClientes CINNER JOIN tblVentas V ON C.ClienteID = V.ClienteIDINNER JOIN tblVehiculos VH ON V.VehiculoID = VH.VehiculoID);
GO

# [dbo].[Vw_C2Vehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_C2Vehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_C2Vehiculos]
	as
	(--OPC 2SELECT  V.VentaID, V.VehiculoID, V.ClienteID, C.Nombre, VH.Marca AS Tipo_Vehiculo, VH.Modelo, V.FechaVenta, v.MontoFROM tblClientes CINNER JOIN tblVentas V ON C.ClienteID = V.ClienteIDINNER JOIN tblVehiculos VH ON V.VehiculoID = VH.VehiculoID);
GO

# [dbo].[Vw_DVehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_DVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_DVehiculos]
	as
	(SELECT * 
FROM  tblClientes
WHERE ClienteID IN (
    SELECT ClienteID 
    FROM tblVentas 
    GROUP BY ClienteID 
    HAVING COUNT(*) > 1)
);
GO

# [dbo].[Vw_EVehiculos]

In [0]:
/****** Object:  View [dbo].[Vw_EVehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Vw_EVehiculos] 
	as
	(
select TOP 100 PERCENT *
FROM tblVehiculos 
WHERE estado = 'disponible' 
ORDER BY precio ASC


);

GO

# [FK__tblVentas__Clien__4F7CD00D]

In [0]:
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO

# [FK__tblVentas__Vehic__4E88ABD4]

In [0]:
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[tblVehiculos] ([VehiculoID])
GO

# [dbo].[usp_mostrar_vehiculos]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_mostrar_vehiculos]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dayana Flores
-- Create date: 03/03/2025
-- Description:	mostrar datos
-- =============================================
CREATE PROCEDURE [dbo].[usp_mostrar_vehiculos]
	
AS
BEGIN
	
	SET NOCOUNT ON;
	select 
	 VehiculoID as 'CodigoVehiculo',
	 Marca,
	 Modelo,
	 Año,
	 Precio,
	 Estado
	from tblVehiculos;
END
GO

# [dbo].[usp_vehiculo_crear]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_vehiculo_crear]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		DAYANA FLORES
-- Create date: 03/03/2024
-- Description:	STORED PROCIDEURES PARA CREAR UN VH.
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculo_crear] 
	
	--  PARAMETROS DE ENTRADA
(
	@VehiculoID int,
	@Marca varchar (50),
	@Modelo varchar(50),
	@Año int,
	@Precio decimal,
	@Estado varchar(15)

	)

AS
BEGIN

	SET NOCOUNT ON;

    insert into tblVehiculos
	(
	VehiculoID,
	Marca,
	Modelo,
	Año,
	Precio,
	Estado

	) values
	(		
	@VehiculoID,
	@Marca,
	@Modelo,
	@Año,
	@Precio,
	@Estado
)
END
GO

# [dbo].[usp_vehiculo_Mostrar]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_vehiculo_Mostrar]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		DAYANA	FLORES
-- Create date: 24-03/2024
-- Description:	STORED PROCEDURE  DE MOSTRAR VEHICULOS
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculo_Mostrar]
	
AS
BEGIN
	
	SET NOCOUNT ON;
	select 
	 VehiculoID as 'CodigoVehiculo',
	 Marca,
	 Modelo,
	 Año,
	 Precio,
	 Estado
	from tblVehiculos;
END

GO

# [dbo].[usp_vehiculos_editar]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_editar]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_editar]
	(

	@Codigo int,
	@Marca varchar (50),
	@Modelo varchar(50),
	@Año int,
	@Precio decimal,
	@Estado varchar(15)

	)
AS
BEGIN
	SET NOCOUNT ON;

	 Update tblVehiculos
	set Marca = @Marca,
		Modelo = @Modelo,
		Año = @Año,
		Precio = @Precio,
		Estado = @Estado
	where VehiculoID = @Codigo

END
GO

# [dbo].[usp_vehiculos_eliminar]

In [0]:
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_eliminar]    Script Date: 8/03/2025 01:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		DAYANA FLORES
-- Create date: 03/03/2025
-- Description:	ELIMINAR DATOS DE LA TABLA TBLVEHICULOS
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_eliminar] 
	(
		@Codigo int
	)

AS
BEGIN
	SET NOCOUNT ON;

	Delete tblVehiculos
	where VehiculoID = @Codigo
    
END
GO

# [db_AgenciaCarros]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [db_AgenciaCarros] SET  READ_WRITE 
GO